@font-face {
    font-family: ariblk;
    src: url(../fonts/ariblk.ttf);
}

@font-face {
    font-family: LeelUIsl;
    src: url(../fonts/LeelUIsl.ttf);
}

section,body, html {
    height: 100%;
    background-image: url(../img/slider/banner1.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'LeelUIsl';
    
}


.line {
    width: 2px;
    background-color: red;
    height: 100%;
    
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1 
}

.background-history {
    /* background-color: #65A6E2; */
    /* background-color: #0F6CFF; */
}